@media screen and ( max-width: 1200px)
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 992px)
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
@media screen and ( max-width: 760px)
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 7rem
  .card
    &__text
      margin-left: 0
  .design
    background-color: $dark
    &__section-title
      color: $light
    &__discription
      color: $light
      max-width: 30.5rem
      font-size: 1.25rem
      line-height: 135.84%
      letter-spacing: normal
      text-align: center


@media screen and ( max-width:570px)
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
    margin-left: -0.7rem
  .hero
    &__content
      max-width: 31.25rem
      
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
      margin-left: -0.7rem
      max-width: 23rem
    &__button
      display: block
      min-width: 28.217rem
      margin-bottom: 1.85rem
      margin-left: -0.93rem
      
      
    &__scroll-down
      display: none
@media screen and (max-height: 520px)
  .hero
    &__scroll-down
      display: none
  
@media screen and ( max-height: 630px )
  .hero
    &__scroll-down
      min-width: 17.6rem
      min-height: 3.92rem

  
  
  
